@model dynamic
<h1>@Html.TitleForPage(T("Change Password").ToString()) </h1>
<p>@T("Use the form below to change your password.")</p>
<p>@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"]) </p>

@Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString(), new { @class = "alert alert-error" })
@using (Html.BeginFormAntiForgeryPost("", FormMethod.Post, new { @class = "form-horizontal" })) { 
    <fieldset>
        <legend>@T("Account information")</legend>
        <div class="control-group @if (Html.ValidationMessage("currentPassword") != null) { <text>error</text> }">
            <label for="currentPassword" class="control-label">@T("Please enter your current password")</label>
            <div class="controls">
                @Html.Password("currentPassword")
                @Html.ValidationMessage("currentPassword", new { @class = "help-block" }) 
            </div>
        </div>
        <div class="control-group @if (Html.ValidationMessage("newPassword") != null) { <text>error</text> }">
            <label for="newPassword" class="control-label">@T("Plaese enter your new password")</label>
            <div class="controls">
                @Html.Password("newPassword") 
                @Html.ValidationMessage("newPassword", new { @class = "help-block" }) 
            </div>
        </div>
        <div class="control-group @if (Html.ValidationMessage("confirmPassword") != null) { <text>error</text> }">
            <label for="confirmPassword" class="control-label">@T("Plaese re-enter your new password")</label>
            <div class="controls">
                @Html.Password("confirmPassword") 
                @Html.ValidationMessage("confirmPassword", new { @class = "help-block" }) 
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">@T("Change Password")</button>
@*
            @Html.ActionLink("Cancel", "Index", new { Controller = "Home", Area = "Contrib.Profile", username = WorkContext.CurrentUser.UserName, ReturnUrl = Request.QueryString["returnurl"], ToolName = Request.QueryString["toolname"] }, new { @class = "btn" })
*@
        </div>
    </fieldset>
} 
