@model dynamic
<h1>@Html.TitleForPage(T("Create new password").ToString()) </h1>
@*<p>@T("Use the form below to change your password.")</p>
<p>@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"]) </p>*@

@Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString(), new { @class = "alert alert-error" })

@using (Html.BeginFormAntiForgeryPost("", FormMethod.Post/*, new { @class = "form-inline" }*/))
{ 
    <fieldset>
        <legend>@T("Account Information")</legend>
        <div class="control-group @if (Html.ValidationMessage("newPassword") != null) { <text>error</text> }">
            <div class="controls">
                <label for="newPassword" class="control-label">@T("Please enter a new password")</label>
                @Html.Password("newPassword")
                @Html.ValidationMessage("newPassword", new { @class = "help-inline" })
                <small class="help-block">Min. @ViewData["PasswordLength"] characters</small>
            </div>
        </div>

        <div class="control-group @if (Html.ValidationMessage("confirmPassword") != null) { <text>error</text> }">
            <div class="controls">
                <label for="confirmPassword" class="control-label">@T("Please re-enter your new password")</label>
                    @Html.Password("confirmPassword") 
                    @Html.ValidationMessage("confirmPassword", new { @class = "help-inline" }) 
                </div>
            </div>
        <div class="fomr-actions">  
            <button class="btn" type="submit">@T("Submit")</button>
        </div> 
    </fieldset>
 } 