@using Orchard.UI.Notify
@if (WorkContext.Layout["Messages"] != null)
{
    foreach (var msg in WorkContext.Layout["Messages"])
    {
        if (msg.Type == NotifyType.Error)
        {
            ViewData.ModelState.AddModelError("username", msg.Message.ToString());
            msg.Message = "";
        }
    }
}

<h1>@Html.TitleForPage(T("Password reset request").ToString())</h1>

@Html.ValidationSummary(T("Could not reset your password. Please correct the errors and try again.").ToString(), new { @class = "alert alert-error" })

@using (Html.BeginFormAntiForgeryPost("", FormMethod.Post/*, new { @class = "form-horizontal" }*/))
{ 
    <fieldset class="no-legend">
        <legend>@T("Password reset")</legend>
        <div class="control-group @if (Html.ValidationMessage("username") != null) { <text>error</text> }">
            <label for="username" class="control-label">@T("Please enter your username or email address")</label>
            <div class="controls">
                @Html.TextBox("username") 
                @Html.ValidationMessage("username", new { @class="help-inline" }) 
            </div>
        </div>
        <div class="-form-actions">
            <button class="btn" type="submit">@T("Submit")</button>
        </div>
    </fieldset>
 }
<p><a href="/">@T("Back to My Dr Foster sign in")</a></p>
