@using Orchard.Utility.Extensions;

@{
    string name = Model.ContentField.DisplayName;  
}
@* Other available properties *@

@*<p class="media-picker-field media-picker-field-@name.HtmlClassify()">
    <span class="name">@name:</span>
    <span class="value">@Model.ContentField.Url</span>
</p>*@

@* 
    Alternate Text: @Model.ContentField.AlternateText
    Class: @Model.ContentField.Class
    Style: @Model.ContentField.Style
    Alignment @Model.ContentField.Alignment
    Width: @Model.ContentField.Width
    Height: @Model.ContentField.Height
    
    You can also display an image using this example, and add the attributes you need:
*@
@if (Model.ContentField != null && Model.ContentField.Url != null)
{
<img src="@Href(Model.ContentField.Url)" alt="@Model.ContentField.AlternateText" />
}
