@using Orchard.ContentManagement
@using Orchard.UI.Notify
@using System.Web.Mvc
@{
    var userCanRegister = WorkContext.CurrentSite.As<Orchard.Users.Models.RegistrationSettingsPart>().UsersCanRegister;
    var enableLostPassword = WorkContext.CurrentSite.As<Orchard.Users.Models.RegistrationSettingsPart>().EnableLostPassword;
}

<h1>@Html.TitleForPage((string)Model.Title)</h1>

<p>
    @T("Please enter your username and password.") 
    @if(userCanRegister) { @Html.ActionLink(T("Register").Text, "Register") @T(" if you don't have an account.") }
    @if(enableLostPassword) { <text> </text> @Html.ActionLink(T("Lost your Password?").Text, "RequestLostPassword") }
</p>

@Html.ValidationSummary(T("Login was unsuccessful. Please correct the errors and try again.").ToString(), new { @class = "alert alert-error" })

@using (Html.BeginFormAntiForgeryPost(Url.Action("LogOn", new { ReturnUrl = Request.QueryString["ReturnUrl"] }), FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>@T("Sign in")</legend>
        <div class="control-group @if (Html.ValidationMessage("userNameOrEmail") != null) { <text>error</text> }">
            <label for="username-email" class="control-label">@T("Username")</label>
            <div class="controls">
                @Html.TextBox("userNameOrEmail", "", new { id = "username-email", autofocus = "autofocus", @class = "span3" })
                @Html.ValidationMessage("userNameOrEmail", new { @class="help-inline" })
            </div>
        </div>
        <div class="control-group @if (Html.ValidationMessage("password") != null) { <text>error</text> }">
            <label for="password" class="control-label">@T("Password")</label>
            <div class="controls">
                @Html.Password("password", null, new { @class = "span3" })
                @Html.ValidationMessage("password", new { @class="help-inline" })
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@T("Sign in")</button>
        </div>
    </fieldset>
}

